/* tables */
@charset "UTF-8";

@font-face{font-family:'FontAwesome';src:url('../font/fontawesome-webfont.eot?v=4.0.1');src:url('../font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('../font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('../font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('../font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

table.tablesorter {
	font-family:'Source Sans Pro', sans-serif;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 11pt;
	width: 100%;
	text-align: left;
    border-collapse: separate;
    border-spacing: 2px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 12pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px 4px 4px 10px;
	background-color: #D6D6D6;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
